.sidebar-1 {
    background: #092F47 0% 0% no-repeat padding-box !important;
    box-shadow: 22px 0px 23px #0000003D !important;
    border: 1px solid #707070 !important;
    opacity: 1 !important;
}
.p-menuname{
     color:white !important;
 }
