<div class="wrapper wrapper-full-page">
    <div class="page-header error-page header-filter">
        <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
        <div class="content-center">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title">404</h1>
                    <h2>Page not found :(</h2>
                    <h4>Ooooups! Looks like you got lost.</h4>
                    <p>
                        We could not find the page you were looking for.
                        Meanwhile, you may <a href="/">return to dashboard</a> or try using the search form.
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</div>